.menu-1 {
    position: absolute;
    top: 4rem;
    left: 50%;
    transform: translateX(-50%);
    background: transparent;
    padding: 15px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.lista_item_menu{
    display: flex;
    justify-content: space-between;
}



.menu-1 .menu__items {
    display: flex;
    justify-content: center;
    gap: 15px;
    white-space: nowrap;
    color: white;
    width: 100%;
    list-style: none;
}

.menu-1 .menu__items a {
    text-decoration: none;
    color: white;
    font-size: 1rem;
    padding: 10px 15px;
}

.menu-1 .menu__items a:hover {
    text-decoration: underline;
}

.menu-1 .container__lista {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: white;
    padding: 1rem;
    z-index: 1000;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.menu-1 .container__lista.active {
    display: block;
}

.menu-1 .containner__p {
    text-align: left !important;
    margin-bottom: 0.5rem;
    margin-left: 75px;
    width: 1240px;
}

.menu-1 .lista_item_menu {
    display: flex !important;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    gap: 10px;
    width: 100%;
    list-style: none;
}

.menu-1 .item__menu {
    list-style: none;
    padding-right: 15px;
}

.menu-1 .item__menu:last-child {
    border-right: none;
}

.menu-1 .item__menu h5 {
    color: black;
    margin-bottom: 10px;
}

.menu-1 .link__menu {
    color: black;
    text-decoration: none;
}

.menu-1 .link__menu:hover {
    text-decoration: underline;
}

.titulo__menu {
    color: white;
    text-decoration: none;
}

.containner__p {
    text-align: right !important;
}

.material-symbols-outlined {
    cursor: pointer;
}


.menu-1 .item__menu h5 {
    color: #333;
    margin-bottom: 10px;
    font-size: 1rem;
    font-weight: bold;
}


.menu-1 .link__menu {
    color: #666;
    font-size: 0.9rem;
}


@media (max-width: 768px) {
    .menu-1 {
        display: none !important; 
    }

    .menu-mobile-carrossel {
        display: flex; 
    }
}

@media (min-width: 769px) {
    .menu-mobile-carrossel {
        display: none !important; /
    }
}

